@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

/* --------- Top Bar --------- */
.container .top-bar {
    background: #193549;
    border-bottom: 5px solid #ffc600;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    min-height: 18vh;
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container .top-bar-left {
    margin: auto 0;
}
.container .top-bar-left img {
    height: auto;
    width: 100px;
}
.container .top-bar-left ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    padding: 0.7rem 1.2rem;
    gap: 10px;
    color: #fff;
}
/* --------- Top Bar End --------- */

/* --------- Row --------- */
.row {
    display: flex;
    /* align-items: center; */
    margin: 4rem;
    gap: 30px;
}
.row input {
    min-width: 330px;
    min-height: 40px;
    border: 1px solid #acacac;
    outline: 1 solid #1d1d1d;
    padding: 10px;
}
.row button {
    padding: 3px 10px;
    font-size: 1.4rem;
    border: 2px solid #000;
}
.row h1 {
    font-size: 2.5rem;
    font-weight: 600;
}
.row label {
    display: block;
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.8;
    color: #0a0a0a;
}
.row p {
    font-size: 1.7rem;
}
/* --------- Row End --------- */



/* --------- Sign In --------- */
.row .sign-in {
    height: 300px;
    /* height: auto; */
    width: auto;
    border: 1px solid #acacac;
    color: #000;
    padding: 1.2rem 1rem;
}




/* --------- Sign Up --------- */
.row .sign-up {
    /* height: 540px; */
    height: auto;
    width: auto;
    border: 1px solid #acacac;
    color: #000;
    padding: 1.2rem 1rem;
}



/* --------- Password Reset --------- */
.row .pass-reset {
    /* height: 330px; */
    height: auto;
    width: auto;
    border: 1px solid #acacac;
    color: #000;
    padding: 1.2rem 1rem;
}

.signInSuccess,
.signUpSuccess,
.passResetSuccess {
    color: #000;
    background-color: #46e646;
}
.signInError,
.signUpError,
.passResetError {
    color: #ffffff;
    background-color: #f95d5d;
}
/* ----------- Media Queries ----------- */
@media screen and (max-width: 1024px) {
    .row input {
        min-width: 100%;
    }
    .row h1 {
        font-size: 2rem;
    }
    .row label {
        font-size: 0.9rem;
    }
    .row p {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 820px) {
    .container .top-bar {
        min-height: auto;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container .top-bar-left {
        margin: 1rem 0;
    }
    .container .top-bar-left img {
        width: 80px;
    }
    .row {
        flex-direction: column;
        margin: 2rem;
        gap: 20px;
    }
    .row input {
        min-width: auto;
        width: 100%;
    }
    .row .sign-in,
    .row .sign-up,
    .row .pass-reset {
        min-width: auto;
        width: 100%;
        height: auto;
        padding: 1rem;
    }
}
